@font-face {
    font-family: 'Montserrat';
    src: url(/assets/fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat semibold';
    src: url(/assets/fonts/Montserrat-SemiBold.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}

.header_text {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181818;
    height: 40px;
}

.header_text p {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

.header_text2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 40px;
}

.header_text2 p {
    color: #181818;
    font-size: 18px;
    font-weight: 600;
    color: "Montserrat semibold";
}

.banner {
    height: 500px;
    width: 100%;
    background-image: linear-gradient( rgba(1, 1, 1, 0.325), rgba(0, 0, 0, 0.564)), url(/assets/images/wallpaper.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    background-attachment: fixed;
}

.title_banner {
    font-family: 'Montserrat semibold';
    font-size: 32px;
    margin: 20px 0;
    color: #fff;
}

.inf-banner {
    display: flex;
    flex-direction: column;
    margin: 0px 100px;
    color: #fff;
}

.subtitle_hero {
    font-family: 'Montserrat semibold';
    line-height: 30px;
    display: flex;
    color: #fff;
}

.title-content h1 {
    font-family: 'Montserrat semibold';
    font-size: 28px;
    text-align: center;
    align-items: center;
    margin: 50px 0 25px 0;
}

.title-content p {
    font-family: 'Montserrat';
    font-size: 16px;
    text-align: center;
    align-items: center;
    margin: 20px;
}

.items {
    display: flex;
    flex-wrap: nowrap;
}

.background_shoes {
    display: flex;
}